<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.onlineExam.dao.QuestionMapper" >
  <resultMap id="BaseResultMap" type="com.onlineExam.model.Question" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="question_type" property="questionType" jdbcType="INTEGER" />
    <result column="option_a" property="optionA" jdbcType="VARCHAR" />
    <result column="option_b" property="optionB" jdbcType="VARCHAR" />
    <result column="option_c" property="optionC" jdbcType="VARCHAR" />
    <result column="option_d" property="optionD" jdbcType="VARCHAR" />
    <result column="subject_id" property="subjectId" jdbcType="INTEGER" />
    <result column="contest_id" property="contestId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="difficulty" property="difficulty" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.onlineExam.model.Question" extends="BaseResultMap" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
    <result column="answer" property="answer" jdbcType="LONGVARCHAR" />
    <result column="parse" property="parse" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--
      WARNING - @mbg.generated
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
      WARNING - @mbg.generated
    -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <!--<sql id="Base_Column_List" >-->
    <!--&lt;!&ndash;-->
      <!--WARNING - @mbg.generated-->
    <!--&ndash;&gt;-->
    <!--id, title, question_type, option_a, option_b, option_c, option_d, subject_id, contest_id, -->
    <!--create_time, update_time, score, difficulty, state-->
  <!--</sql>-->
  <!--<sql id="Blob_Column_List" >-->
    <!--&lt;!&ndash;-->
      <!--WARNING - @mbg.generated-->
    <!--&ndash;&gt;-->
    <!--content, answer, parse-->
  <!--</sql>-->
  <!--<select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.onlineExam.model.example.QuestionExample" >-->
    <!--&lt;!&ndash;-->
      <!--WARNING - @mbg.generated-->
    <!--&ndash;&gt;-->
    <!--select-->
    <!--<if test="distinct" >-->
      <!--distinct-->
    <!--</if>-->
    <!--'true' as QUERYID,-->
    <!--<include refid="Base_Column_List" />-->
    <!--,-->
    <!--<include refid="Blob_Column_List" />-->
    <!--from onlineexamquestion-->
    <!--<if test="_parameter != null" >-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
    <!--<if test="orderByClause != null" >-->
      <!--order by ${orderByClause}-->
    <!--</if>-->
  <!--</select>-->
  <!--<select id="selectByExample" resultMap="BaseResultMap" parameterType="com.onlineExam.model.example.QuestionExample" >-->
    <!--&lt;!&ndash;-->
      <!--WARNING - @mbg.generated-->
    <!--&ndash;&gt;-->
    <!--select-->
    <!--<if test="distinct" >-->
      <!--distinct-->
    <!--</if>-->
    <!--'true' as QUERYID,-->
    <!--<include refid="Base_Column_List" />-->
    <!--from onlineexamquestion-->
    <!--<if test="_parameter != null" >-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
    <!--<if test="orderByClause != null" >-->
      <!--order by ${orderByClause}-->
    <!--</if>-->
  <!--</select>-->
  <!--<delete id="deleteByExample" parameterType="com.onlineExam.model.example.QuestionExample" >-->
    <!--&lt;!&ndash;-->
      <!--WARNING - @mbg.generated-->
    <!--&ndash;&gt;-->
    <!--delete from onlineexamquestion-->
    <!--<if test="_parameter != null" >-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
  <!--</delete>-->
  <!--<select id="countByExample" parameterType="com.onlineExam.model.example.QuestionExample" resultType="java.lang.Integer" >-->
    <!--&lt;!&ndash;-->
      <!--WARNING - @mbg.generated-->
    <!--&ndash;&gt;-->
    <!--select count(*) from onlineexamquestion-->
    <!--<if test="_parameter != null" >-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
  <!--</select>-->
  <!--<update id="updateByExampleSelective" parameterType="map" >-->
    <!--&lt;!&ndash;-->
      <!--WARNING - @mbg.generated-->
    <!--&ndash;&gt;-->
    <!--update onlineexamquestion-->
    <!--<set >-->
      <!--<if test="record.id != null" >-->
        <!--id = #{record.id,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="record.title != null" >-->
        <!--title = #{record.title,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.questionType != null" >-->
        <!--question_type = #{record.questionType,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="record.optionA != null" >-->
        <!--option_a = #{record.optionA,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.optionB != null" >-->
        <!--option_b = #{record.optionB,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.optionC != null" >-->
        <!--option_c = #{record.optionC,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.optionD != null" >-->
        <!--option_d = #{record.optionD,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.subjectId != null" >-->
        <!--subject_id = #{record.subjectId,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="record.contestId != null" >-->
        <!--contest_id = #{record.contestId,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="record.createTime != null" >-->
        <!--create_time = #{record.createTime,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="record.updateTime != null" >-->
        <!--update_time = #{record.updateTime,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="record.score != null" >-->
        <!--score = #{record.score,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="record.difficulty != null" >-->
        <!--difficulty = #{record.difficulty,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="record.state != null" >-->
        <!--state = #{record.state,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="record.content != null" >-->
        <!--content = #{record.content,jdbcType=LONGVARCHAR},-->
      <!--</if>-->
      <!--<if test="record.answer != null" >-->
        <!--answer = #{record.answer,jdbcType=LONGVARCHAR},-->
      <!--</if>-->
      <!--<if test="record.parse != null" >-->
        <!--parse = #{record.parse,jdbcType=LONGVARCHAR},-->
      <!--</if>-->
    <!--</set>-->
    <!--<if test="_parameter != null" >-->
      <!--<include refid="Update_By_Example_Where_Clause" />-->
    <!--</if>-->
  <!--</update>-->
  <!--<update id="updateByExampleWithBLOBs" parameterType="map" >-->
    <!--&lt;!&ndash;-->
      <!--WARNING - @mbg.generated-->
    <!--&ndash;&gt;-->
    <!--update onlineexamquestion-->
    <!--set id = #{record.id,jdbcType=INTEGER},-->
      <!--title = #{record.title,jdbcType=VARCHAR},-->
      <!--question_type = #{record.questionType,jdbcType=INTEGER},-->
      <!--option_a = #{record.optionA,jdbcType=VARCHAR},-->
      <!--option_b = #{record.optionB,jdbcType=VARCHAR},-->
      <!--option_c = #{record.optionC,jdbcType=VARCHAR},-->
      <!--option_d = #{record.optionD,jdbcType=VARCHAR},-->
      <!--subject_id = #{record.subjectId,jdbcType=INTEGER},-->
      <!--contest_id = #{record.contestId,jdbcType=INTEGER},-->
      <!--create_time = #{record.createTime,jdbcType=TIMESTAMP},-->
      <!--update_time = #{record.updateTime,jdbcType=TIMESTAMP},-->
      <!--score = #{record.score,jdbcType=INTEGER},-->
      <!--difficulty = #{record.difficulty,jdbcType=INTEGER},-->
      <!--state = #{record.state,jdbcType=INTEGER},-->
      <!--content = #{record.content,jdbcType=LONGVARCHAR},-->
      <!--answer = #{record.answer,jdbcType=LONGVARCHAR},-->
      <!--parse = #{record.parse,jdbcType=LONGVARCHAR}-->
    <!--<if test="_parameter != null" >-->
      <!--<include refid="Update_By_Example_Where_Clause" />-->
    <!--</if>-->
  <!--</update>-->
  <!--<update id="updateByExample" parameterType="map" >-->
    <!--&lt;!&ndash;-->
      <!--WARNING - @mbg.generated-->
    <!--&ndash;&gt;-->
    <!--update onlineexamquestion-->
    <!--set id = #{record.id,jdbcType=INTEGER},-->
      <!--title = #{record.title,jdbcType=VARCHAR},-->
      <!--question_type = #{record.questionType,jdbcType=INTEGER},-->
      <!--option_a = #{record.optionA,jdbcType=VARCHAR},-->
      <!--option_b = #{record.optionB,jdbcType=VARCHAR},-->
      <!--option_c = #{record.optionC,jdbcType=VARCHAR},-->
      <!--option_d = #{record.optionD,jdbcType=VARCHAR},-->
      <!--subject_id = #{record.subjectId,jdbcType=INTEGER},-->
      <!--contest_id = #{record.contestId,jdbcType=INTEGER},-->
      <!--create_time = #{record.createTime,jdbcType=TIMESTAMP},-->
      <!--update_time = #{record.updateTime,jdbcType=TIMESTAMP},-->
      <!--score = #{record.score,jdbcType=INTEGER},-->
      <!--difficulty = #{record.difficulty,jdbcType=INTEGER},-->
      <!--state = #{record.state,jdbcType=INTEGER}-->
    <!--<if test="_parameter != null" >-->
      <!--<include refid="Update_By_Example_Where_Clause" />-->
    <!--</if>-->
  <!--</update>-->
</mapper>