<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.onlineExam.dao.SignRecordMapper" >
  <resultMap id="BaseResultMap" type="com.onlineExam.model.SignRecord" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="sign_time" property="signTime" jdbcType="TIMESTAMP" />
    <result column="current_ip" property="currentIp" jdbcType="VARCHAR" />
    <result column=" sequence" property="sequence" jdbcType="INTEGER" />
  </resultMap>
</mapper>